body {
    font: normal 15pt Arial;
    background-image: linear-gradient(230deg, rgb(0, 238, 255), rgb(0, 81, 255) );
    color: white;
    overflow-y: hidden;
}

header {
    font-size: 18pt;
    text-align: center;
}

section {
background-color: white;
color: black;
padding: 40px;
width: auto;
max-width: 500px;
margin: auto;
box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.616);
border-radius: 8px;
}

div#res {
    border: 1px solid rgba(0, 0, 0, 0.219);
}

input#converter {
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.219);
    background-color: rgba(0, 0, 0, 0.151);
    transition: all 0.1s;
    &:hover {
        transform: scale(1.05);
    }
}

footer {
   margin-top: 50px;
    padding-bottom: 300px;
    text-align: center;
}